name: pnpm

on:
  push:
    branches:
      - master
  schedule:
    - cron: "0 0 * * *"

jobs:
  pnpm-6:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [18]
        pnpm: [6]
        variant: ["", "alpine", "slim"]

    steps:
      - uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        if: ${{ matrix.variant == '' }}
        uses: docker/build-push-action@v6
        with:
          file: ./pnpm/Dockerfile
          platforms: linux/amd64,linux/arm64
          build-args: |
            node=${{ matrix.node }}
            pnpm=${{ matrix.pnpm }}
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/pnpm:${{ matrix.node }}-${{ matrix.pnpm }}

      - name: Build and push
        if: ${{ matrix.variant != '' }}
        uses: docker/build-push-action@v6
        with:
          file: ./pnpm/Dockerfile_${{ matrix.variant }}
          build-args: |
            node=${{ matrix.node }}
            pnpm=${{ matrix.pnpm }}
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/pnpm:${{ matrix.node }}-${{ matrix.pnpm }}-${{ matrix.variant }}

  pnpm-7:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [18, 20]
        pnpm: [7]
        variant: ["", "alpine", "slim"]

    steps:
      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        if: ${{ matrix.variant == '' }}
        uses: docker/build-push-action@v6
        with:
          file: ./pnpm/Dockerfile
          platforms: linux/amd64,linux/arm64
          build-args: |
            node=${{ matrix.node }}
            pnpm=${{ matrix.pnpm }}
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/pnpm:${{ matrix.node }}-${{ matrix.pnpm }}

      - name: Build and push
        if: ${{ matrix.variant != '' }}
        uses: docker/build-push-action@v6
        with:
          file: ./pnpm/Dockerfile_${{ matrix.variant }}
          build-args: |
            node=${{ matrix.node }}
            pnpm=${{ matrix.pnpm }}
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/pnpm:${{ matrix.node }}-${{ matrix.pnpm }}-${{ matrix.variant }}

  pnpm-8:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [18, 20, 22, 24]
        pnpm: [8]
        variant: ["", "alpine", "slim"]

    steps:
      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        if: ${{ matrix.variant == '' }}
        uses: docker/build-push-action@v6
        with:
          file: ./pnpm/Dockerfile
          platforms: linux/amd64,linux/arm64
          build-args: |
            node=${{ matrix.node }}
            pnpm=${{ matrix.pnpm }}
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/pnpm:${{ matrix.node }}-${{ matrix.pnpm }}

      - name: Build and push
        if: ${{ matrix.variant != '' }}
        uses: docker/build-push-action@v6
        with:
          file: ./pnpm/Dockerfile_${{ matrix.variant }}
          build-args: |
            node=${{ matrix.node }}
            pnpm=${{ matrix.pnpm }}
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/pnpm:${{ matrix.node }}-${{ matrix.pnpm }}-${{ matrix.variant }}

  pnpm-9:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [18, 20, 22, 24]
        pnpm: [9]
        variant: ["", "alpine", "slim"]

    steps:
      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        if: ${{ matrix.variant == '' }}
        uses: docker/build-push-action@v6
        with:
          file: ./pnpm/Dockerfile
          platforms: linux/amd64,linux/arm64
          build-args: |
            node=${{ matrix.node }}
            pnpm=${{ matrix.pnpm }}
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/pnpm:${{ matrix.node }}-${{ matrix.pnpm }}

      - name: Build and push
        if: ${{ matrix.variant != '' }}
        uses: docker/build-push-action@v6
        with:
          file: ./pnpm/Dockerfile_${{ matrix.variant }}
          build-args: |
            node=${{ matrix.node }}
            pnpm=${{ matrix.pnpm }}
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/pnpm:${{ matrix.node }}-${{ matrix.pnpm }}-${{ matrix.variant }}

  pnpm-10:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [18, 20, 22, 24]
        pnpm: [10]
        variant: ["", "alpine", "slim"]

    steps:
      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        if: ${{ matrix.variant == '' }}
        uses: docker/build-push-action@v6
        with:
          file: ./pnpm/Dockerfile
          platforms: linux/amd64,linux/arm64
          build-args: |
            node=${{ matrix.node }}
            pnpm=${{ matrix.pnpm }}
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/pnpm:${{ matrix.node }}-${{ matrix.pnpm }}

      - name: Build and push
        if: ${{ matrix.variant != '' }}
        uses: docker/build-push-action@v6
        with:
          file: ./pnpm/Dockerfile_${{ matrix.variant }}
          build-args: |
            node=${{ matrix.node }}
            pnpm=${{ matrix.pnpm }}
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/pnpm:${{ matrix.node }}-${{ matrix.pnpm }}-${{ matrix.variant }}

  special:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [lts, current]
        variant: ["", "alpine", "slim"]

    steps:
      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        if: ${{ matrix.variant == '' }}
        uses: docker/build-push-action@v6
        with:
          file: ./pnpm/Dockerfile
          build-args: |
            node=${{ matrix.node }}
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/pnpm:${{ matrix.node }}-latest

      - name: Build and push
        if: ${{ matrix.variant != '' }}
        uses: docker/build-push-action@v6
        with:
          file: ./pnpm/Dockerfile_${{ matrix.variant }}
          build-args: |
            node=${{ matrix.node }}
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/pnpm:${{ matrix.node }}-latest-${{ matrix.variant }}

  latest:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          file: ./pnpm/Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/pnpm:latest-latest

  repository:
    runs-on: ubuntu-latest
    needs: [pnpm-6,pnpm-7,pnpm-8,pnpm-9,pnpm-10,special,latest]

    steps:
      - uses: actions/checkout@v4

      - name: Docker Hub Description
        uses: peter-evans/dockerhub-description@v4
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          repository: ${{ secrets.DOCKERHUB_USERNAME }}/pnpm
          readme-filepath: ./pnpm/README.md
          enable-url-completion: true
          short-description: "Node and pnpm bundled together"
